<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            {% load static %}
            <i class="bi bi-journal-bookmark-fill"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'task-list' %}"><i class="bi bi-house"></i>Головна</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout-page' %}" class="nav-link"><i class="bi bi-box-arrow-in-left"></i>Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login-page' %}" class="nav-link active">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register-page' %}" class="nav-link active">Register</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>